.paper-top{
	height: 120rpx;line-height: 120rpx;background:#5392FF ;color: #fff;padding: 0 40rpx 0 46rpx;font-size: 30rpx;
	.paper-nums,.paper-clock,.paper-submit{display: inline-block;}
	.paper-nums{margin-right: 20rpx;}
	.paper-submit{width: 128rpx;height: 54rpx;background: #fff;font-size: 30rpx;color:  #5392FF;border-radius:4px;line-height: 54rpx;text-align: center;float: right;margin-top: 33rpx;}
	text{font-size: 34rpx;font-weight: bold;color:#ffd945;}
}
.paper-body{
	padding: 66rpx 40rpx;
	.paper-title{font-size: 34rpx;color: #282828;font-weight: bold;
		text{display: inline-block;}
	}
	.question-tag{background:#5596fb;color: #fff;font-size: 34rpx;padding: 0 20rpx;border-radius:4px;font-weight: normal;text-align: center;margin-right: 10rpx;height: 44rpx;line-height: 44rpx;}
}
.radio,.checkbox{
	display: block;margin: 44rpx 0;font-weight: normal;font-size: 26rpx;color: #282828;
	radio{opacity: 0.5;}
}
.paper-tab{padding: 0 80rpx;height: 76rpx;
	&:after{content:"";display: block;clear: both;}
}
.prev,.next{width: 240rpx;height: 76rpx;line-height: 76rpx;text-align: center;border-radius:4px;-webkit-box-sizing:border-box;box-sizing:border-box;
	background: transparent;border: 1px solid #D6D6D6;color: #9B9B9B;
	&.active{background:#5392FF;color: #fff;border: 0;}
}
.prev{float: left;}
.next{float: right;}
.mask{width: 100%;height: 100%;position: fixed;top: 0;bottom: 0;left: 0;right: 0;z-index:50;background:rgba(0,0,0,0.5);}
.layer{position: fixed;background: #fff;width: 560rpx;height: 340rpx;left: 50%;top: 50%;transform:translate(-50%,-50%);box-shadow: 0 4px 10px 0 rgba(0,0,0,0.15);
border-radius:4px;z-index:70;text-align: center;}
.layer-tips{line-height: 24rpx;margin: 102rpx auto 0;}
.layer-btn{
	width: 240rpx;height: 76rpx;line-height: 76rpx;border-radius:4px;-webkit-box-sizing:border-box;
	box-sizing:border-box;font-size: 30rpx;text-align: center;display: inline-block;margin: 96rpx 16rpx 0;
	&.cancel{border: 1px solid #D6D6D6;color: #9B9B9B;}
	&.ok{color: #fff;background: #5392FF;}
}
.checkbox wx-radio, .radio wx-radio {opacity:1;}
div.wx-radio-wrapper{width: 21px;}
radio .wx-radio-input,checkbox .wx-checkbox-input{border: 2px solid #E9E9E9;width: 21px;height: 21px;-webkit-box-sizing:border-box;box-sizing:border-box;margin-right:32rpx;}
radio .wx-radio-input.wx-radio-input-checked,checkbox .wx-checkbox-input.wx-checkbox-input-checked{background-color: transparent !important;border: 1px solid #ff5267;}
radio .wx-radio-input.wx-radio-input-checked:before,checkbox .wx-checkbox-input.wx-checkbox-input-checked:before{
	display: none;
}
radio .wx-radio-input.wx-radio-input-checked:after,checkbox .wx-checkbox-input.wx-checkbox-input-checked:after{
	content:"";width: 15px;height: 15px;position: absolute;top: 50%;left: 50%;-webkit-transform:translate(-52%,-51%);transform:translate(-52%,-51%);
	background: #ff5267;border-radius:50%;
}

checkbox .wx-checkbox-input{border-radius:50%;}